@media only screen and (max-width: 800px){
    /* 1. 전체 페이지 공통 요소 */
    
        /* 링크 색 지우기 */    
        a{
            color: black;
        }
        /* 하단 네비게이션 바 */
        .mobile_list{
            align-content: center;
            display: inline-block;
            color: black;
            position: fixed;
            bottom:0;
            left: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            list-style: none;
            padding: 0%;
            padding-top: 15px;
            padding-bottom: 20px;
            background-color: white;
            margin: 0;
            vertical-align: bottom;
            border-top: rgb(187, 187, 187) 1px solid;
        }
    
        .mobile_list i {
            font-size: 25px;
        }
    
        #home{
            background-color: rgb(141, 198, 63);
            color: white;
            padding: 5px 5px;
            border-radius: 4rem;
        }
    
    /* 2. 전체 공통 요소는 아니지만, 다른 페이지에서도 쓰이는 요소 */
        *{
            margin: 0px;
            padding: 0px;
            font-family: Dotum,'돋움',Helvetica,sans-serif;
        }
        .header{
            padding: 30px 0% 10px;
            text-align: center;
            border-bottom: 1px gray solid;
            position:fixed;
            width: 100%;
            background-color: white;
            margin: 0;
            top: 0;
        }
        .header h2{
            font-size: 20px;
            font-weight: 400;
            margin: 0;
        }
    
    /* 3. only 이 페이지에서만 쓰이는 요소 */
        /* 페이지 틀 */
            /*알림 전체 틀*/
        .notifi_box{
            width: 100%;
            margin-top: 64.2px;
            position: relative;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.2);
        }
            /*개별 알림 요소*/
        .notifi_item{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #eee;
            padding: 2px 0;
            font-size: 13px;
        }
        /* 알림 미리보기 정보*/
            /*알림 종류(ex. 시스템 알림 or 채팅 알림 or 이벤트 알림)*/
        .noti_text h3 {
            margin: 19px 0 8px;
            font-size: 14px;
            font-weight: 700;
        }
            /*알림 텍스트*/
        .notifi_item .noti_text{
            margin-bottom: 34px;
            width: 110%;
        }
            /*알림 이미지*/
        .notifi_item .noti_img{
            margin: 5%;
            width: 45%;
        }
            /*알림 시간 정보 */
        .notifi_item .noti_time{
            align-items: center;
            padding: 5%;
            margin-bottom: 18%;
            font-size: 12px;
            font-weight: bold;
            color:#8e8e8e;
        }
    }








