.search_option{
    margin: 0 auto 15px;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, .2);
    width: 85%;
    height: 20px;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search_option button{
    width: fit-content;
    height: 30px;
    border:0;
    padding:0 40px 0;
    font-size: 14px;
    font-weight: bolder;
}
.Indi_btn{
    color: rgba(0, 0, 0, .5);
}
.circle_btn{
    padding: 5px;
    background: #fff;
    border-radius: 30px;
    font-weight: bolder;
    color: rgb(122, 175, 49);
}
.search_container{
    margin: 64.2px auto 15px;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, .2);
    width: 85%;
    height: 20px;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.offi-list p{
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.offi-item{
    margin-left: 10px;
    display: flex;
    font-size: 13px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
}
.offi-item h3{
    font-weight: bold;
    padding-top: 3px;
}
.offi-item .offiItem-info{
    width: 210px;
}
.offi-date{
    padding-left: 40px;
    font-size: 12px;
    font-weight: bold;
    color:#8e8e8e;

}
.offi-item .offiItem-info div{
    display: flex;
}
.offiItem-fin{
    color:red;
    font-weight: bold;
    padding-right: 5px;
    padding-top: 3px;
}
/* search 페이지 공통(검색창) */
.search_text {
    margin-left: 10px;
    font-size: 16px;
    background: none;
    color: #5a6674;
    width: 100%;
    height: auto;
    border: none;
    appearance: none;
    outline: none;
}
.search_btn{
    background-color: #fff;
    border: 1px solid #000;
    height: 30px;
    margin: 5px;
    width: 25%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
}

/* 기본 세팅 (모든페이지 공통/헤더부분) */
*{
    margin: 0px;
    padding: 0px;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

.circle-icon {
    background: rgb(141, 198, 63,0.5);
    padding: 5px 8px;
    border-radius: 50%;
    
}
/*여기 헤더 부분에서는 border-bottom 지웠습니다!*/
.searchOffi_header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 10px;
    text-align: center;
    position:fixed;
    width: 100%;
    background-color: white;
    margin: 0;
    top: 0;
}

.searchOffi_header .filter_btn{
    border: 0px;
    background-color: #fff;
    color:gray;
    font-weight: bolder;
}
.searchOffi_header h2{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

/*아래부터는 오빠 코드 복붙만 한거라 수정사항 없어요!!*/

/* 하단 네비게이션 바 */
.mobile_list{
    align-content: center;
    display: inline-block;
    color: black;
    position: fixed;
    bottom:0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0%;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: white;
    margin: 0;
    vertical-align: bottom;
    z-index: 2;
}

.mobile_list i {
    font-size: 25px;
    color: black;
}

#home{
    background-color: rgb(141, 198, 63);
    color: white;
    padding: 5px 5px;
    border-radius: 4rem;
}
