@media only screen and (max-width: 800px){
    /* 1. 전체 페이지 공통 요소 */
        /* 링크 색 지우기 */    
        a{
            color: black;
        }
        /* 하단 네비게이션 바 */
        .mobile_list{
            align-content: center;
            display: inline-block;
            color: black;
            position: fixed;
            bottom:0;
            left: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            list-style: none;
            padding: 0%;
            padding-top: 15px;
            padding-bottom: 20px;
            background-color: white;
            margin: 0;
            vertical-align: bottom;
            border-top: rgb(187, 187, 187) 1px solid;
        }
    
        .mobile_list i {
            font-size: 25px;
        }
    
        #home{
            background-color: rgb(141, 198, 63);
            color: white;
            padding: 5px 5px;
            border-radius: 4rem;
        }
    
    /* 2. 전체 공통 요소는 아니지만, 다른 페이지에서도 쓰이는 요소 */
        /* 스꾸실 로고 */
        .back{
            width: 10%;
        }

        .back button{
            border: 0;
            background-color:rgba(240, 248, 255, 0);
            padding: 20px 0px 20px 10px;
        }

        .back i{
            font-size: 20px;
            background-color:rgba(240, 248, 255, 0);
        }

        .header{
            padding: 30px 0% 10px;
            text-align: center;
            border-bottom: 1px gray solid;
            position:fixed;
            width: 100%;
            background-color: white;
            margin: 0;
            top: 0;
        }
        .header h2{
            font-size: 20px;
            font-weight: 400;
            margin: 0;
        }
    
    /* 3. only 이 페이지에서만 쓰이는 요소 */
        /*개인습득물 전체 틀*/
        .indi_list{
            width: 100%;
            overflow: hidden;
            align-items: center;
            margin:auto;
        }
        /*개인습득물 - 개별 아이템*/
        .indi_list ul li{
            align-items: center;
            list-style: none;
            float: left;
            width: 28%;
            margin-left: 4%;
            margin-bottom: 4%;
            border-radius: 10px;
        }
        .indi_list ul li div{
            display: block;
        }
        /*개별 아이템 정보*/
        .indiItem-info{
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
            /*아이템명, 분실(습득)위치*/
        .indiItem_info p{
            font-size: 12px;
            font-weight: 600;
        }
            /*아이템 카테고리 (전자기기or서적류..)*/
        .indiItem_info .item_sort{
            margin-top: 3px;
            font-size: 12px;
            font-weight: 900;
            color: #5a6674;
        }
        /*검색 옵션 search_option (개인습득물 or 학생지원팀)*/
        .search_option{
            margin: 0 auto 15px;
            background-color: rgba(0, 0, 0, 0.05);
            border: 1px solid rgba(0, 0, 0, .2);
            width: 85%;
            height: 20px;
            border-radius: 30px;
            padding: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .search_option button{
            width: fit-content;
            height: 150%;
            border:0;
            padding:0 12% 0;
            font-size: 14px;
            font-weight: bolder;
        }
        .Offi_btn{
            color: rgba(0, 0, 0, .5);
        }
        
        /*선택된 버튼 강조 표시(개인습득물 버튼)*/
        .circle_btn{
            background: #fff;
            border-radius: 30px;
            font-weight: bolder;
            color: rgb(122, 175, 49);
        }
        /*검색창*/
        .search_container{
            margin: 20px auto 15px;
            background-color: rgba(0, 0, 0, 0.05);
            border: 1px solid rgba(0, 0, 0, .2);
            width: 85%;
            height: 20px;
            border-radius: 30px;
            padding: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        /* search 페이지 공통(검색창) */
        .search_text {
            margin-left: 10px;
            font-size: 16px;
            background: none;
            color: #5a6674;
            width: 100%;
            height: auto;
            border: none;
            appearance: none;
            outline: none;
        }
        .search_btn{
            background-color: #fff;
            border: 1px solid #000;
            height: 150%;
            margin: 5px;
            width: 25%;
            font-size: 16px;
            font-weight: bold;
            border-radius: 30px;
        }

        /* 기본 세팅 (모든페이지 공통/헤더부분) */
        *{
            margin: 0px;
            padding: 0px;
            font-family: Dotum,'돋움',Helvetica,sans-serif;
        }

}

