@media only screen and (max-width: 800px){
    /* 1. 전체 페이지 공통 요소 */
        /* 링크 색 지우기 */    
        a{
            color: black;
        }
        /* 하단 네비게이션 바 */
        .mobile_list{
            align-content: center;
            display: inline-block;
            color: black;
            position: fixed;
            bottom:0;
            left: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            list-style: none;
            padding: 0%;
            padding-top: 15px;
            padding-bottom: 20px;
            background-color: white;
            margin: 0;
            vertical-align: bottom;
            border-top: rgb(187, 187, 187) 1px solid;
        }
        .mobile_list i {
            font-size: 25px;
        }
        #home{
            background-color: rgb(141, 198, 63);
            color: white;
            padding: 5px 5px;
            border-radius: 4rem;
        }
    
    /* 2. 전체 공통 요소는 아니지만, 다른 페이지에서도 쓰이는 요소 */
        *{
            margin: 0px;
            padding: 0px;
            font-family: Dotum,'돋움',Helvetica,sans-serif;
        }
        /* 헤더 */
        .header{
            padding: 30px 0% 10px;
            text-align: center;
            border-bottom: 1px gray solid;
            position:fixed;
            width: 100%;
            background-color: white;
            margin: 0;
            top: 0;
        }
        .header h2{
            font-size: 20px;
            font-weight: 400;
            margin: 0;
        }

    /* 3. only 이 페이지에서만 쓰이는 요소 */
        /* 검색창 */
            /*검색창 틀*/
        .search_container{
            margin: 80.2px auto 15px;
            background-color: rgba(0, 0, 0, 0.05);
            border: 1px solid rgba(0, 0, 0, .2);
            width: 80%;
            height: 20px;
            border-radius: 30px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
            /*검색 텍스트 입력 부분*/
        .search_text {
            margin-left: 10px;
            font-size: 16px;
            background: none;
            color: #5a6674;
            width: 100%;
            height: auto;
            border: none;
            appearance: none;
            outline: none;
        }
            /*검색 버튼*/
        .search_btn{
            background-color: #fff;
            border: 1px solid #000;
            height: 30px;
            margin: 0;
            width: 25%;
            font-size: 16px;
            font-weight: bold;
            border-radius: 30px;
        }

        /* 게시판 */
            /*게시판 전체 틀*/
        .content_container{
            margin-top:20px;
            text-align: center;
        }
            /*게시판 종류(습득물 or 분실물)*/
        .content_container h3{
            color:#000;
            font-weight: bold;
            margin-bottom: 3px;
        }
            /*게시판 설명*/
        .content_container p{
            font-size: 14px;
        }
            /*습득물 게시판*/
        .content_container .found_info {
            padding-top: 0px;
            margin-bottom:15px;
        }
            /*분실물 게시판*/
        .content_container .lost_info {
            padding-top: 0px;
            margin-bottom:80px;
        }
            /*게시판 - 텍스트 설명 부분*/
        .found_text, .lost_text{
            width:80%;
            margin: auto;
        }
            /*게시판 - 이미지 부분*/
        .found_img, .lost_img{
            text-align: center;
        }
        .content_container img{
            width: 80%;
            border: 2px rgb(141, 198, 63) solid;
            border-radius: 1.5rem;
        }
}